.u-section-1 .u-sheet-1 {
  min-height: 667px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 667px;
  background-image: url("images/g9cbffb459a52036cbc49e96613fd05b43764f222d17a317589bf9c094ab7079c00c88ca0b46a1f35e7e168f24a026899d61629c258e8538b1c4869ffdcef427a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-group-1 {
  width: 471px;
  min-height: 538px;
  height: auto;
  margin: 27px 36px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 0 20px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 55px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  font-weight: 700;
  margin: -38px 0 11px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-image-1 {
    min-height: 550px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-1 .u-image-1 {
    min-height: 421px;
  }

  .u-section-1 .u-group-1 {
    width: 432px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-1 .u-image-1 {
    min-height: 291px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}